<nav>
    <ul>
        <li><a href="{{path('app_main')}}">Main page </a></li>
        <li><a href="{{path('app_admin')}}">Admin iterface </a></li>
        <li><a href="{{path('app_article_index')}}">Gestion des Articles </a></li>
        <li><a href="{{path('app_categorie_index')}}">Gestion de categories</a></li>
        <li><a href="{{path('app_user_index')}}">Gestion des user</a></li>
        <li><a href="">Gestion de commentaire</a></li>
    </ul>
</nav>

